body{
	background-color: #FAFAFA
}
.navbar{
	background-color: #b2ebf2
}
span.input-group-text {
	background-color:#e0f7fa;	
}
#buttonCrear{
	float: right;
	margin-top: 17px;
}
div.card-header{
	background-color:#e3f2fd;
}
#boton-crearViaje{
	float:right;
	color:black; 
	border-color:#FAFAFA; 
	background-color:#FAFAFA
}
#viajes{
	/*justify-content:center;*/
	margin-top: 20px;
	display: flex
}
#botonCartaViaje{
	justify-content:center;
	margin:auto; 
	color:black; 
	border-color:#FAFAFA; 
	background-color:#FAFAFA
}
.card{
	width:18rem;
}