.body-general{
	background-color: #FAFAFA;
	overflow-x: hidden;
}
.navbar{
	background-color: #212121
}
span.input-group-text {
	background-color:#E8EAF6;	
}
#buttonCrear{
	color: #495057;
	float: right;
	margin-top: 17px;
	background-color:#C5CAE9;
	border-color:#C5CAE9;
}
div.card-header{
	background-color:#C5CAE9;
}
#boton-crearViaje{
	color:black;
}
#viajes{
	/*justify-content:center;*/
	margin-top: 20px;
	display: flex
}
#botonCartaViaje{
	margin:auto; 
	color:black; 
	border-color:transparent; 
	background-color: transparent;
}
.card{
	width:18rem;
	border-color: #9FA8DA;
}
#cuenta{
	background-color: #FAFAFA;
	border-color: #FAFAFA;
	color: #000
}
.card-infoviaje {
	background-color:#EEEEEE;
	border-color:#BDBDBD;
}
.jumbo-infoviaje {
	background-color:#EEEEEE;
}
.item-cardviaje {
	border-color: #9FA8DA;
}